body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    background-color: rgb(50, 2, 154);
    color: #fff; 
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 30px; 
}

.footer-section {
    flex: 1;
    padding: 0 30px;
    min-width: 350px;
}

.contact-us-heading{
    font-size: 24px;
    margin-bottom: 15px;
}

.footer-section h2,
.quick-links{
    margin-bottom: 15px;
    font-size: 24px;
}

.footer-section p,
.footer-section ul {
    margin: 10px 0;
    font-size: 16px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section p a {
    color: #fff;
    text-decoration: none;
}

.footer-section p a:hover {
    text-decoration: underline;
}

.quick-link{
    margin-left: 70px;
}
