.navbar {
  background-color: #ffffff;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px;
  margin-right: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-loading-placeholder {
  height: 50px; /* Adjust based on your navbar height */
  background-color: transparent; /* Or any background color that blends with your design */
}

.nav-left,.nav-right{
  align-items: center;
  display: flex;
  padding: 0px 10px;
  margin-right: 10px;
}

.nav-list{
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 0;
}

.nav-list-item{
  font-size: 25px;
  margin: 0 35px;
}

.name{
font-weight: 800;
color: rgb(50, 2, 154);
padding-left: 80px;
font-size: 30px;    
margin-top: 0px ;
padding-top: 0px;
margin-right: 50px;
}

.nav-list-item a {
  text-decoration: none;
  font-weight :750;
  color: rgb(50, 2, 154);
  transition: all 0.3s ease; 
  border-radius: 30px; 
  padding: 10px 20px; /* Reduced padding */
  width: auto;
  height: auto;
}

.nav-list-item a:hover {
  background-color: rgb(50, 2, 154);
  color: white;
  font-weight: 750;
  box-shadow: 0px 0px 6px rgba(50, 2, 154, 0.3); 
}

.nav-right button {
  margin: 0 10px; 
  padding: 10px 35px;
  background-color: rgb(50, 2, 154);
  color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease; 
}

.nav-right button:hover {
  background-color: rgb(37, 3, 111);
  color: white;
  font-weight: bold;
  border: 3px solid rgb(50, 2, 154); 
  transition: all 0.3s ease;
}

.image-profile{
  height: 40px;
  width: 40px;
  margin-right: 50px;
  margin-top: 10px;
}
