.product-table {
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 1200px; /* Adjust according to your design */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}


tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

input[type="text"], input[type="number"] {
  width: 100%;
  padding: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

button {
  margin: 5px;
  padding: 8px 16px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}

.AddProductButton {
  background-color: #0dab20;
}

.AddProductButton:hover {
  background-color: #0d8e1c;
}

.SaveButton {
  background-color: #3232aa;
}

.SaveButton:hover {
  background-color: #1e1e8d;
}

.AddSalesButton {
  background-color: #0dab20;
}

.AddSalesButton:hover {
  background-color: #0d8e1c;
}

.SaveSalesButton {
  background-color: #3232aa;
}

.SaveSalesButton:hover {
  background-color: #1e1e8d;
}

.Add, .Subtract, .Delete {
  background-color: #0dab20; /* Adjust as needed */
}

.Add:hover, .Subtract:hover, .Delete:hover {
  background-color: #0d8e1c;
}

.Subtract {
  background-color: #c30f0f;
}

.Subtract:hover {
  background-color: #9e0606;
}

.Delete {
  background-color: #c30f0f;
}

.Delete:hover {
  background-color: #9e0606;
}

.buttons {
  margin-top: 20px;
  text-align: center;
}

